<% layout('./template/boilerplate') %> 

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <form action="" method="post">
                <div class="form-floating">
                   <input type="text" name="text" id="">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
      </div>
</div>